<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create Subscriber </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label> First Name</label>
                        <input required pattern="^[a-zA-Z0-9àéèç]{3,25}$"
                        type="text" class="form-control" id="firstName" [(ngModel)]="subscriber.firstname"
                           #firstName="ngModel"
                        name="firstName">
                            <div
                            [hidden]="firstName.valid || firstName.pristine"
                            class="card-panel red accent-1"
                          >
                            Le nom de l'abonné est requis (3-25).
                          </div>
                    </div>
                    <div class="form-group">
                        <label> Last Name</label>
                        <input required pattern="^[a-zA-Z0-9àéèç]{3,25}$" type="text" class="form-control" id="lastName" [(ngModel)]="subscriber.lastname"
                            #lastName="ngModel"
                        name="lastName">   
                            <div
                            [hidden]="lastName.valid || lastName.pristine"
                            class="card-panel red accent-1"
                          >
                            Le prénom de l'abonné est requis (3-25).
                          </div>                
                    </div>
                    <div class="form-group">
                        <label> Email</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="subscriber.email"
                            name="email">
                    </div>
                      <div class="form-group">
                        <label>Adress</label>
                        <input type="text" class="form-control" id="address" [(ngModel)]="subscriber.address"
                            name="address">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>
                    <button (click)="goToSubscriberList()" class="btn btn-secondary" type="submit">Retour</button>
                </form>
            </div>
        </div>
    </div>
</div>