<button (click) = "logout()" class = "btn btn-danger" style="margin-left: 10px"> LogOut</button>
<div class = "row">
    <h2> Subscriber List</h2>
</div>
    <button (click) = "getCreate()" class = "btn btn-primary" style="margin-left: 10px"> Create</button>
    <div class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Recherche par FirstName"
          aria-label="Search"
          [(ngModel)]="searchQuery"
        />
      </div>
<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name </th>
            <th>Email</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let subscriber of listSubscriber">
            <td>{{ subscriber.firstname }}</td> 
            <td>{{ subscriber.lastname }}</td>
            <td>{{ subscriber.email }}</td>
             <td>{{ subscriber.address }}</td>

        <td>
            <button (click) = "deleteSubscriber(subscriber.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            <button (click) = "updateSubscribers(subscriber.id)" class = "btn btn-primary"> Update</button>
            <button (click) = "subscriberDetail(subscriber.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
        </td>
    </tbody>
</table>
<button (click) = "getDashboard()" class="btn btn-secondary" style="margin-left: 10px">Retour au menu</button>


