<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
        <h3 class="text-center">Create Ouvrage</h3>
        <hr />
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="ouvrage.title" name="title" required>
            </div>
            <div class="form-group">
                <label for="typeBook">Type Book</label>
                <input type="text" class="form-control" id="typeBook" [(ngModel)]="typeofbook.type" name="typeBook" required>
              </div>
            <div class="form-group">
              <label for="authorObj">Author</label>
              <input type="text" class="form-control" id="authorObj" [(ngModel)]="authorObj.firstname" name="authorObj" required>

            </div>
            <div class="form-group">
              <label for="summary">Summary</label>
              <textarea class="form-control" id="summary" [(ngModel)]="ouvrage.summary" name="summary" required></textarea>
            </div>
            
            <br />
            <button class="btn btn-success" type="submit">Submit</button>
            <button (click)="goToOuvrageList()" class="btn btn-secondary" type="button">Retour</button>
          </form>
        </div>
      </div>
    </div>
  </div>