<p>menu-subscriber works!</p>
  <div class="row">





    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Profil</h5>
          <p class="card-text">
            Afficher et/ou modfier son profil
          </p>
          <a routerLink="/subscriber-profil" class="btn btn-primary"> >> </a>
        </div>
      </div>
    </div>


  </div>
<br/>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ouvrage</h5>
        <p class="card-text">
          Consulter les ouvrages.
        </p>
        <a routerLink='/subscriber-ouvrage' class="btn btn-primary"> >> </a>
      </div>
    </div>
  </div>

</div>

<br/>








  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Emprunt</h5>
          <p class="card-text">
            Consulter mes emprunts.
          </p>
          <a routerLink="/typeOuvrage" class="btn btn-primary"> >> </a>
        </div>
      </div>
    </div>
  </div>
  