<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center">Mettre à jour un ouvrage</h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Titre</label>
            <input
              type="text"
              class="form-control"
              id="title"
              [(ngModel)]="ouvrage.title"
              name="title"
            />
          </div>

          <br />

          <div class="form-group">
            <label>Auteur</label>
            <input
              type="text"
              class="form-control"
              id="author"
              [(ngModel)]="ouvrage.authorObj.firstname"
              name="author"
            />
          </div>

          <br />

          <div class="form-group">
            <label>Type</label>
            <input
              type="text"
              class="form-control"
              id="typeBook"
              [(ngModel)]="ouvrage.typeBook.type"
              name="typeBook"
            />
          </div>

          <br />

          <div class="form-group">
            <label>Résumé</label>
            <input
              type="text"
              class="form-control"
              id="summary"
              [(ngModel)]="ouvrage.summary"
              name="summary"
            />
          </div>

          <br />

          <button class="btn btn-outline-success me-2" type="submit">
            Mettre à jour
          </button>
          <button
            (click)="goToOuvrageList()"
            class="btn btn-outline-primary me-2"
            type="submit"
          >
            Retour
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
