<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Ouvrages</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Saisissez un titre"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Chercher</button>
    </form>
  </div>
</nav>

<br />

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Résumé</th>
      <th scope="col">Type d'ouvrage</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ouvrage of librarianOuvrage">
      <td>{{ ouvrage.title }}</td>
      <td>{{ ouvrage.authorObj.firstname }}</td>
      <td>{{ ouvrage.summary }}</td>
      <td>{{ ouvrage.typeBook.type }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="First group">
          <button
            (click)="updateOuvrage(ouvrage.id)"
            type="button"
            class="btn btn-outline-primary me-2"
          >
            Modifier
          </button>
          <button
            (click)="deleteOuvrage(ouvrage.id)"
            class="btn btn-outline-danger btn-sm"
          >
            Supprimer
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<br />

<div
  class="btn-toolbar d-flex justify-content-between"
  role="toolbar"
  aria-label="Toolbar with button groups"
>
  <div class="btn-group" role="group" aria-label="First group">
    <a routerLink="/menu-librarian" class="btn btn-secondary">
      Retour au menu
    </a>
  </div>

  <div class="btn-group" role="group" aria-label="First group">
    <div class="me-2">
      <button (click)="createOuvrage()" class="btn btn-outline-primary">
        Ajouter
      </button>
    </div>
  </div>
</div>
