<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Ouvrages</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Saisissez un titre"
        aria-label="Search"
        [(ngModel)]="newLibrarianOuvrage"
        name="newLibrarianOuvrage"

        />
    </form>
  </div>
</nav>

<br />

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Type d'ouvrage</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ouvrage of librarianOuvrage">
      <td>
        <div class="book-title">{{ ouvrage.title }}</div>
      </td>
      <td>{{ ouvrage.authorObj.firstname }}</td>
      <td>{{ ouvrage.typeBook.type }}</td>
      <td>
        <div class="button-group d-flex justify-content-end">
          <button (click)="getDetail(ouvrage.id)" type="button" class="btn btn-primary">Modifier</button>
          <button (click)="getDelete(ouvrage.id)" type="button" class="btn btn-primary">Supprimer</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<br />

<div
  class="btn-toolbar d-flex justify-content-between"
  role="toolbar"
  aria-label="Toolbar with button groups"
>
  <div class="btn-group" role="group" aria-label="First group">
    <a routerLink="/menu-librarian" class="btn btn-secondary">
      Retour au menu
    </a>
  </div>

  <div class="btn-group" role="group" aria-label="First group">
    <div class="me-2">
    </div>
    <div class="me-2">
      <button type="button" (click)="getCreateLibrarianOuvrage()" class="btn btn-primary">Ajouter</button>
    </div>
    <div>
    </div>
  </div>
</div>