<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create Subscriber </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label> First Name</label>
                        <input type="text" class="form-control" id="Type" [(ngModel)]="typeofbook.type"
                            name="Type">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>
                    <button (click)="goTotypebookList()" class="btn btn-secondary" type="submit">Retour</button>
                </form>
            </div>
        </div>
    </div>

</div>