<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{subscriber.firstname}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{subscriber.lastname}}
    </div>
    <div>
        <label> <b> Email : </b></label> {{subscriber.email}}
    </div>
    <div>
        <label> <b> Adress: </b></label> {{subscriber.address}}
    </div>
    <div>
        <label> <b> Id: </b></label> {{subscriber.id}}
    </div>
</div>
<button (click)="goToEmployeeList()" class="btn btn-secondary" type="submit">Retour</button>

