<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Profil </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label> First Name</label>
                        <input type="text" class="form-control" id="firstname" [(ngModel)]="profil.firstname" name="firstname">
                    </div>
                   <div class="form-group">
                        <label> Last Name</label>
                        <input type="text" class="form-control" id="lastName" [(ngModel)]="profil.lastname"
                            name="lastname">
                    </div>
                    <div class="form-group">
                        <label> Email</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="profil.email"
                            name="email">
                    </div>
                    <div class="form-group">
                        <label> Addresse </label>
                        <input type="text" class="form-control" id="address" [(ngModel)]="profil.address"
                            name="address">
                    </div>
                    <div class="form-group">
                        <label> Login </label>
                        <input type="text" class="form-control" id="address" [(ngModel)]="profil.login"
                            name="login">
                    </div>
                    <div class="form-group">
                        <label> Password </label>
                        <input type="text" class="form-control" id="address" [(ngModel)]="profil.password"
                            name="password">
                    </div>
                    <br />
                    <button (click)="onSubmit()" class="btn btn-success" type="submit">Submit</button>
                    <button (click)="goToProfil()" class="btn btn-success" type="submit">Retour</button>
                </form>
            </div>
        </div>
    </div>
</div>