<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Ouvrages</a>
    <!-- <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Saisissez un titre"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Chercher</button>
    </form> -->
    <!-- <mat-form-field class="example-full-width">
      <input type="text" placeholder="Search" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
    <button class="btn btn-outline-success" type="submit">Chercher</button>
  </div>
</nav>

<br />

<table class="table table-hover">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Résumé</th>
      <th scope="col">Type d'ouvrage</th>
      <th scope="col"></th> <!-- Nouvelle colonne pour les boutons radio -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <!-- <th scope="row"></th> -->
      <td>{{ book.title }}</td>
      <td>{{ book.authorObj.firstname }}</td>
      <td> {{ book.summary }}</td>
      <td>{{ book.typeBook.type }}</td>
      <td>
        <!-- <input type="radio" name="selectedBook" (click)="selectBook(book)" /> -->
      </td> <!-- Ajout d'un bouton radio pour la sélection de l'ouvrage -->
    </tr>
  </tbody>
</table>

<br />

<div
  class="btn-toolbar justify-content-end"
  role="toolbar"
  aria-label="Toolbar with button groups"
>
  <div class="btn-group me-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-primary">Reserver</button>
  </div>
</div>
