<!-- <p>subscriber-ouvrage works!</p>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Ouvrages</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Saisissez un titre"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Chercher</button>
    </form>
  </div>
</nav>

<br />

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Résumé</th>
      <th scope="col">Type d'ouvrage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    
  </tbody>
</table>

<br />

<div
  class="btn-toolbar justify-content-end"
  role="toolbar"
  aria-label="Toolbar with button groups"
>
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary">Modifier</button>
  </div>
  <div class="btn-group me-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-secondary">Ajouter</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-info">Supprimer</button>
  </div>
</div> -->

<button (click)="getBooks()">Récupérer les livres</button>

<div *ngFor="let book of books">
  <h3>{{ book.title }}</h3>
  <p>Auteur: {{ book.authorObj.firstname }}</p>
  <p>Résumé: {{ book.summary }}</p>
  <p>Type de livre: {{ book.typeBook.type }}</p>
</div>
<p>kkskk</p>